h1 {
    margin-bottom: 2rem;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 2rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2rem;

    th,
    td {
        padding: 1rem;
        border: 1px solid white;
        background-color: rgba(0, 0, 0, 0.396);

        a {
            color: white;

            &:hover {
                color: rgb(200, 200, 200);
            }
        }
    }

    th {
        background-color: rgba(255, 255, 255, 0.455);
        color: black;
        font-size: 1.1rem;
    }
}

/* Select */
/* Container */
.select-container {
    position: relative;
}

@media screen and (max-width: 992px) {
    /*Make the big table fit on a mobile*/
    table {
        table-layout: fixed;
        overflow-x: auto;
        display: block;

        th {
            font-size: 1rem;
            padding: 0.5rem;
        }
        td {
            padding: 0.5rem;
        }
    }
}

@media screen and (max-width: 768px) {
    h1 {
        margin-bottom: 0;
    }
}
