h1 {
    margin-bottom: 5rem;
}

.card-container-header {
    text-align: center;
    font-size: 1.4rem;
    margin-bottom: 2rem;
}

.card-container {
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
}
