html {
    font-size: 16px;
}

body {
    background: rgb(0, 27, 73);
    background: linear-gradient(
        90deg,
        rgba(0, 27, 73, 1) 0%,
        rgba(64, 24, 0, 1) 100%
    );

    color: white;

    h1 {
        text-align: center;
        font-size: 2.2rem;
    }

    section {
        width: 80rem;
        margin: 4rem auto;
    }

    button,
    .button {
        background-color: transparent;
        border: none;
        color: white;
        padding: 15px 32px;
        display: block;
        text-align: center;
        text-decoration: none;
        border: 4px solid white;
        border-radius: 8px;
        font-size: 16px;
        transition: 0.3s;
        cursor: pointer;
        font-weight: 700;

        &:hover {
            background-color: white;
            border-color: trabsparent;
            color: black;
        }
    }

    .homepage-button {
        position: absolute;
        top: 2.4rem;
        left: 2.4rem;
        transition: 0.3s;

        &:hover {
            filter: brightness(1.3);
            transform: scale(1.1);
        }
    }
}
